.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;

    .page-item {
        @border: 1px solid #bcbcbc;

        display: block;
        border: @border;
        border-right: 0;


        &:last-child {
            border-right: @border;
        }

        .page-link {
            padding: 8px 12px;
            cursor: pointer;
            display: block;
            color: blue;
        }

        &.active .page-link {
            color: white;
            background-color: blue;
            border-color: blue;
        }

        &.row_disable span{
            padding: 8px 12px;
            color: #bcbcbc;
            display: block;
        }

    }

}